@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
        font-family: 'Roboto';
        src: url('../../public/Fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
        font-family: 'Raleway';
        src: url('../../public/Fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

@font-face {
        font-family: 'Wittgenstein';
        src: url('../../public/Fonts/Wittgenstein/Wittgenstein-VariableFont_wght.ttf');
}

@font-face {
        font-family: 'Akaya';
        src: url('../../public/Fonts/Akaya_Telivigala/AkayaTelivigala-Regular.ttf');
}

@layer base {
        body {
                @apply font-wittgenstein;
        }

        svg {
                @apply cursor-pointer dark:fill-white;
        }

        header section div div svg{
                @apply w-[15px] sm:w-[30px] h-[15px] sm:h-[30px] dark:fill-white;
        }

        input, select, textarea {
                @apply font-raleway; 
        }

        button{
                @apply font-roboto; 
        }

        footer section:not(:nth-child(1)), content section > div{
                @apply w-[95%] sm:w-[90%] md:w-[85%] xl:w-[1350px] mx-auto; 
        }

        footer section:nth-child(2) > *{
                @apply h-[170px]
        }

        footer section:nth-child(2) > div:not(:nth-child(1)) {
                @apply flex flex-col justify-between 
        }

        footer section:nth-child(2) div:not(:nth-child(1)) h4{
                @apply font-raleway font-bold text-[18px] xl:text-[20px]; 
        }

        footer section:nth-child(2) div:not(:nth-child(1)) ul{
                @apply flex flex-col gap-1; 
        }

        footer section:nth-child(2) div:not(:nth-child(1)) li{
                @apply text-gray_text border-b border-transparent hover:border-b-gray_text hover:rounded-[4px] w-fit transition ease-in-out duration-1000; 
        }

        footer section div div svg{
                @apply fill-black dark:fill-white w-[30px] h-[30px] border rounded-default  p-[6px] hover:bg-black dark:hover:bg-white hover:fill-white dark:hover:fill-dark_blue transition ease-in-out duration-1000;
        }
}
